{% extends 'base.html' %}

{% block head %}
<title>Employee Systems Associated</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Employee Systems Associate and Deassociate</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">Enter</h4>
    {% else %}
    <table style="margin-left: 20%">
        <tr>
            <th>ID</th>
            <th>Employee</th>
            <th>Systems</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}        
            <tr>
                <td>{{ task.id}}</td>
                <td>
                        <a href="/addemployee/">Addemployee</a>
                    </td>
                    <td>
                            <a href="/addsystem/">Addsystem</a>
                        </td>
                <td>
                    <a href="/associate/">Associate</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <table style="margin-left: 20%">
        <tr>
            <th>ID</th> <th>Employee</th> <th>Systems</th>
        </tr>

        {% for tran in trans %}        
            <tr>
                <td>{{tran.id}}</td> <td>{{tran.empName}}</td> <td>{{tran.sysName}}</td>
                <td>
                    <a href="/deassociate/{{tran.id}}">Deassociate</a>
                </td>
            </tr>
        {% endfor %}
            {% if names|length > 0 %}
        <tr>
                <td></td> <td>Unassociated</td> <td>Names</td>
                <td></td> <td>Click</td> <td>Name</td>
                <td></td> <td>to</td> <td>remove</td>
            </tr>
            {% endif %}
            {% for name in names %}        
            <tr>
                
                <td></td> <td><a href="/delemp/{{name.empKey}}">{{name.empName}}</a></td> <td><a href="/delsys/{{name.sysKey}}">{{name.sysName}}</a></td>
                <td>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% endif %}
</div>
{% endblock %}